.app-container {
    max-width: 960px;
    margin: 0 auto;
}

/* NAVIGATION */

.app-navigation {
    padding: 0;
    margin: 0;
    margin-bottom: 20px;
    list-style: none;
    display: flex;
    gap: 20px;
}

.app-navigation a {
    color: blue;
}

/* TABLES */

.app-table {
    border-collapse: collapse;
}

.app-table td,
.app-table th {
    border: 1px solid black;
    padding: 10px;
}